.add-feed__container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-300);
  align-items: center;
  width: 100%;
  padding: .5rem 0;
}

.add-feed__input-container {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  padding: 0.5rem;
  gap: .5rem;
}

.add-feed__input {
  height: 100%;
  width: 20rem;
  border: none;
  border-radius: 4px;
}

.add-feed__button {
  border-radius: 4px;
  border: none;
  padding: 0 .75rem;
  background-color: var(--color-action-300);
  border: 1px solid var(--color-action-200);
  color: white;
}

.add-feed__button:hover {
  cursor: pointer;
  background-color: var(--color-action-200);
}

.add-feed__button:active {
  background-color: var(--color-action-400);
  border-color: var(--color-action-400);
  transform: scale(.97)
}

.add-feed__button:disabled:hover {
  cursor:wait;
  transform: none;
}

.add-feed__error-message {
  color: white;
}