
/* Styling the accordion and items */

div[slot='accordion-content'] {
  background-color: var(--color-primary-200);
}

div[slot='accordion-trigger'] h2 {
  font-size: 1rem;
}

.feed-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.feed-item button {
  height: 100%;
  width: 100%;
  background-color: var(--color-primary-200);
  border: none;
  color: var(--color-text-ink-200);
  padding: 8px 0;
}

.feed-item button:hover {
  color: var(--color-text-ink-100);
  cursor: pointer;
  background-color: var(--color-primary-100);
}

.feed-menu {
  position: sticky;
  top: 0;
}

.feed-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
  height: 100%;
}
