
/* Styling the accordion and items */

div[slot='accordion-content'] {
  background-color: var(--color-primary-200);
}

div[slot='accordion-trigger'] h2 {
  font-size: 1rem;
}

.feed-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rss-set-option {
  height: 100%;
  width: 100%;
  background-color: var(--color-primary-200);
  border: none;
  color: var(--color-text-ink-200);
  padding: 8px 0;
  flex: 10;
  text-align: left;
  padding-left: 1rem;
}

.rss-set-option:hover {
  color: var(--color-text-ink-100);
  text-decoration: underline;
  cursor: pointer;
}

.feed-menu {
  position: sticky;
  top: 0;
}

.rss-option {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.rss-delete-option__icon {
  height: 1rem;
}

.rss-delete-option {
  margin: 0;
  background: transparent;
  border: none;
  padding: 2px;
  max-width: 1rem;
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 1rem;
}

.rss-delete-option__icon {
  filter: invert(66%) sepia(50%) saturate(6481%) hue-rotate(21deg) brightness(100%) contrast(100%)
}

.rss-delete-option__icon:hover {
  filter: invert(66%) sepia(50%) saturate(6481%) hue-rotate(21deg) brightness(120%) contrast(100%)
}

.rss-delete-option:hover {
  cursor: pointer;
}