.selected-feed__items--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: darkgray;
  gap: 1rem;
  padding: 2rem 1rem;
  height: 100%;
  text-align: center;
}

.selected-feed__items--empty p {
  margin: 0;
}

#smile-icon {
  height: 24px;
}
