* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}

.layout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:  "header"
                        "main"
                        "footer";
  grid-template-rows: 5rem auto 5rem;
}

.layout-header {
  grid-area: header;
  background-color: var(--color-primary-300);
  color: var(--color-text-ink-100);
  border-bottom: 2px solid var(--color-primary-100);
}

/* Necessary to set display for height in main content with accordion */
.layout-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.layout-footer {
  grid-area: footer;
  background-color: var(--color-primary-300);
  color: var(--color-text-ink-100)
}

.site-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  white-space: nowrap;
  gap: 1rem;
  margin: 0 2rem;
}

.site-title h1 {
  font-size: 1.5rem;
}

.site-title #rss-icon {
  height: 24px;
}

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 2rem;
}

.github-link {
  text-decoration: none;
  border: 1px solid var(--color-primary-100);
  background-color: var(--color-primary-200);
  color: var(--color-text-ink-100);
  border-radius: 4px;
  padding: .5rem;
}

.github-link:hover {
  background-color: var(--color-primary-100);
}

.github-link:active {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
  transform: scale(.97);
}

#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 70%);
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  height: 100%;
}

.modal__container {
  background-color: white;
  border-radius: 4px;
  padding: 1.5rem;
}

.modal__controls {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.modal__controls button {
  border: none;
  padding: .5rem;
  border-radius: 8px;
}

.modal__controls button:hover {
  cursor: pointer;
}

.modal__confirm.critical {
  background-color: var(--color-critical-300);
  color: var(--color-text-ink-100);
}

.modal__confirm.critical:hover {
  background-color: var(--color-critical-200);
}

.modal__cancel {
  background-color: transparent;
}

.modal__cancel:hover {
  background-color: var(--color-subtle-100);
}

