* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}

.layout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:  "header"
                        "main"
                        "footer";
  grid-template-rows: 5rem auto 5rem;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(32, 32, 32);
}

.layout-header {
  grid-area: header;
  background-color: var(--header-bg-color);
  color: var(--header-font-color)
}

/* Necessary to set display for height in main content with accordion */
.layout-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.layout-footer {
  grid-area: footer;
  background-color: var(--footer-bg-color);
  color: var(--footer-font-color)
}

.site-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  white-space: nowrap;
  gap: 1rem;
  margin: 0 2rem;
}

.site-title h1 {
  font-size: 1.5rem;
}

.site-title #rss-icon {
  height: 24px;
}

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 2rem;
}

.github-link {
  text-decoration: none;
  border: var(--footer-button-border);
  border-radius: 4px;
  background-color: var(--footer-button-bg-color);
  color: var(--footer-button-font-color);
  padding: .5rem;
}

.github-link:hover {
  background-color: var(--footer-interactive-color);
}

.github-link:active {
  background-color: var(--footer-interactive-color);
  transform: scale(.97)
}

/* Styling the accordion and items */

div[slot='accordion-trigger'] h2 {
  font-size: 1rem;
}

.feed-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.feed-item {
  background-color: rgb(83, 83, 83);
  color: white;
}

.feed-item button {
  height: 100%;
  width: 100%;
  background-color: rgb(83, 83, 83);
  border: none;
  color: lightgray;
  padding: 4px 0;
}

.feed-item button:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(58, 58, 58);
}

.feed-menu {
  position: sticky;
  top: 0;
}

.feed-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
  height: 100%;
}

#selected-feed {
  height: 100%;
}

#selected-feed.selected-feed__pending {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

selected-feed-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
}

selected-feed-error {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.add-feed__container {
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 90, 90);
  align-items: center;
  width: 100%;
  padding: .5rem 0;
}

.add-feed__input-container {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  padding: 0.5rem;
  gap: .5rem;
}

.add-feed__input {
  height: 100%;
  width: 20rem;
  border: none;
  border-radius: 4px;
}

.add-feed__button {
  border-radius: 4px;
  border: none;
  padding: 0 .75rem;
  background-color: rgb(168, 111, 6);
  border: 1px solid rgb(211, 138, 4);
  color: white;
}

.add-feed__button:hover {
  cursor: pointer;
  background-color: rgb(211, 138, 4);
}

.add-feed__button:active {
  background-color: rgb(211, 138, 4);
  transform: scale(.97)
}

.add-feed__button:disabled:hover {
  cursor:wait;
  background-color: rgb(168, 111, 6);
  transform: none;
}

.add-feed__error-message {
  color: white;
}

.selected-feed ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.selected-feed ul li {
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
}

.selected-feed ul li:hover {
  background-color: rgb(255, 239, 210);
}

.feed-item__link-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

.feed-item__link-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 8px 0;
  color: rgb(36, 36, 36);
}

.feed-item__link-container:hover {
  color: rgb(0, 0, 0);
  border-color: black;
}

.feed-item__link {
  text-decoration: none;
}
